{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'military/css/military.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row lg-padding">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Troops</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="standard-table-text">
                            Soldiers win wars. A careful balance of attack, defence, intelligence and income will ensure
                            your victory. Train your Untrained Units into a fighting force!
                        </h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.untrained_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.untrained}}</h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t1_attack_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t1_attack}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t2_attack_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t2_attack}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_attack_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t3_attack}}</h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t1_defence_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t1_defence}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t2_defence_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t2_defence}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_defence_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t3_defence}}</h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t1_intel_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t1_intel}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t2_intel_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t2_intel}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_intel_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t3_intel}}</h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_income_name}}:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">{{troopNumbers.t3_income}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Troops</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="standard-table-text">
                            Soldiers win wars. A careful balance of attack, defence, intelligence and income will ensure
                            your victory. Train your Untrained Units into a fighting force!
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Unit</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Power</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Cost</h3>
                    </div>
                    <div class="col">
                        <h3 class="title-table-header">Quantity</h3>
                    </div>
                </div>



                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t1_attack_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t1_attack_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t1_attack_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t1_attack" id="t1_attack" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t2_attack_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t2_attack_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t2_attack_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t2_attack" id="t2_attack" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_attack_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_attack_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_attack_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t3_attack" id="t3_attack" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t1_defence_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t1_defence_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t1_defence_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t1_defence" id="t1_defence" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t2_defence_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t2_defence_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t2_defence_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t2_defence" id="t2_defence" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_defence_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_defence_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_defence_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t3_defence" id="t3_defence" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t1_intel_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t1_intel_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t1_intel_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t1_intel" id="t1_intel" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t2_intel_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t2_intel_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t2_intel_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t2_intel" id="t2_intel" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_intel_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_intel_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_intel_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t3_intel" id="t3_intel" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_intel_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_intel_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_intel_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t3_intel" id="t3_intel" value="0">
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">{{troopAttributes.t3_income_name}}</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_income_power}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {{troopAttributes.t3_income_cost}}
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            <input class="small-quantity" type="text" name="t3_income" id="t3_income" value="0">
                        </h3>
                    </div>
                </div>






                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'increaseIncome' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" name="train-troops" value=""
                                placeholder="0">Train
                                troops</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>






        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Income</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="standard-table-text">
                            A strong economy means a strong empire. Each turn, your income specialists generate 0 data
                            crystals, which are the currency in Origins.
                        </h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Data Crystal production:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Income Specialists:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'increaseIncome' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" name="income" value="10">Increase by 10 to
                                {{getIncomeByTen}}</button>
                        </form>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Cost: {{increaseProjectionByTenIncome}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'increaseIncome' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" name="income" value="100">Increase by 10 to
                                {{getIncomeByHundred}}</button>
                        </form>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Cost: {{increaseProjectionByHundredIncome}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'increaseIncome' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" name="income" value="1000">Increase by 10 to
                                {{getIncomeByThousand}}</button>
                        </form>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Cost: {{increaseProjectionByThousandIncome}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Knowledge Points</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="standard-table-text">
                            A stagnant empire is a broken one. Knowledge is power! Each turn, your scientists generate 0
                            knowledge points. Use them wisely!
                        </h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Knowledge Point production:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Scientists:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'increaseKnowledge' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" name="knowledge" value="10">Increase by 10 to
                                {{getKnowledgeByTen}}</button>
                        </form>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Cost: {{increaseProjectionByTenKnowledge}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'increaseKnowledge' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" name="knowledge" value="100">Increase by 10
                                to {{getKnowledgeByHundred}}</button>
                        </form>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Cost: {{increaseProjectionByHundredKnowledge}}</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'increaseKnowledge' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" name="knowledge" value="1000">Increase by 10
                                to {{getKnowledgeByThousand}}</button>
                        </form>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">Cost: {{increaseProjectionByThousandKnowledge}}</h3>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}