{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid" id="parent-container">
    <div class="row lg-padding">
        <div class="col ">
            <!--This is the introduction paragraph-->
            <div class="container-fluid" id="introduction-container">
                <div class="row heading-row">
                    <div class="col ">
                        <h1 class="bold">Welcome to Origins</h1>
                    </div>
                </div>
                <div class="row heading-row">
                    <div class="col ">
                        <h2>
                            In an alternate Earth, four powerful factions struggle for survival. The result: a cold war
                            unlike anything in history. One small spark could ignite the fuse. <strong>You</strong> are
                            the deciding factor. But who will you choose?
                        </h2>
                        <br>
                        <h2>
                            Will it be the Spartans, with their powerful militaries and ruthless rule?
                        </h2>
                        <br>
                        <h2>
                            Will it be the Amazons, experts in espionage and secrecy?
                        </h2>
                        <br>
                        <h2>
                            Will it be the Atlantians, with unrivaled defense?
                        </h2>
                        <br>
                        <h2>
                            Will it be the Witches, with endless economic capabilities?
                        </h2>
                    </div>
                </div>
                <br>
                <div class="row heading-row">
                    <div class="col ">
                        <h2>
                            Origins is a text-based Massive Multiplayer Online Role Playing Game, where you assume
                            control of one of four factions amongst a world of nations.
                            Each faction has a unique advantage.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row lg-padding">
        <div class="col parent-col  ">
            <!--Who We are-->
            <div class="container-fluid  with-border" id="who-we-are">
                <div class="row heading-row">
                    <div class="col ">
                        <h2 class="bold">Spartans</h2>
                    </div>
                </div>
                <div class="row heading-row">
                    <div class="col ">
                        <ul>
                            <li>
                                <h3>
                                    The Spartans rule by force. They are conquerors, unmatched in their attacking power.
                                    Under the King Gunter of Sparta, you will rule your faction with one goal: the
                                    complete destruction of anyone that oposes you.
                                </h3>
                            </li>
                            <li>
                                <h3><strong>Bonus: +25% attack power</strong></h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col  ">
            <div class="container-fluid  " id="our-promise">
                <div class="row heading-row">
                    <div class="col ">
                        <h2 class="bold">Amazons</h2>
                    </div>
                </div>
                <div class="row heading-row">
                    <div class="col ">
                        <ul>
                            <li>
                                <h3>
                                    The Amazons gain strengh in secrecy and intelligence, and are natural-born enemies
                                    of the Spartans. Ruling from their secret city Ephesus, the Amazons use their
                                    intelligence network to watch from the shadows, waiting for the right time to
                                    strike. The Primary needs you now. Tread carefully.
                                </h3>
                            </li>
                            <li>
                                <h3><strong>Bonus: +25% intelligence power</strong></h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row lg-padding">
        <div class="col parent-col ">
            <!--Who We are-->
            <div class="container-fluid" id="how-we-do-it">
                <div class="row heading-row">
                    <div class="col ">
                        <h2 class="bold">Atlantians</h2>
                    </div>
                </div>
                <div class="row heading-row">
                    <div class="col">
                        <ul>
                            <li>
                                <h3>
                                    Once defeated by a combined army of Amazons and Spartans, the Atlantians sunk their
                                    city to bide their time and rebuilt their forces. Their defences are all but
                                    impenetrable.
                                </h3>
                            </li>
                            <li>
                                <h3><strong>Bonus: +25% defence power</strong></h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="container-fluid  " id="how-it-works">
                <div class="row heading-row">
                    <div class="col ">
                        <h2 class="bold">Witches</h2>
                    </div>
                </div>
                <div class="row heading-row">
                    <div class="col ">
                        <ul>
                            <li>
                                <h3>
                                    Loathed by all other races, the witches use their knowledge of magic to conjure
                                    materials they need for the war effort. Under the Grand Supreme, they have
                                    flourished, and you have been given command of a faction to take the fight to the
                                    enemy. Take your rightful place amongst kings and queens.
                                </h3>
                            </li>
                            <li>
                                <h3><strong>Bonus: +25% income power</strong></h3>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}