{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row lg-padding">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">


            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Player Information</h1>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Username:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            {% if request.user.is_authenticated %}
                            {{user.username}}
                            {% else %}
                            Username
                            {% endif %}
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Faction:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            Faction_Name
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Technology Level:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            1
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Faction Level:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            1
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Data crystals:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            1
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Attack turns:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            1000
                        </h3>
                    </div>
                </div>



            </div>
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Production Information</h1>
                    </div>
                </div>


                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Troop Production:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            1 per turn
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Income Production:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            1 data crystals per turn
                        </h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Knowledge Production:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">
                            1 knowledge point per turn
                        </h3>
                    </div>
                </div>




            </div>
        </div>



        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Power Information</h1>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Attack Power:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Defence Power:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Intelligence Power:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Overall Power:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Diplomacy</h1>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Allies:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Enemies:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Non-Aggression Pacts:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>

                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Diplomatic Power:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>
{% endblock %}