{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'production/css/production.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row lg-padding">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Population Growth</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="standard-table-text">
                            A good population growth is essential to an effective and powerful army. Each turn, your
                            Untrained Citizens will increase by 0. Put them to good use!
                        </h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Population Growth:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Untrained Citizens:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="pop-ten">Increase by 10
                                population
                                growth</button>
                        </form>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="pop-hundred">Increase by 100
                                population
                                growth</button>
                        </form>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="pop-thousand">Increase by 1000
                                population
                                growth</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Income</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="standard-table-text">
                            A strong economy means a strong empire. Each turn, your income specialists generate 0 data
                            crystals, which are the currency in Origins.
                        </h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Data Crystal production:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Income Specialists:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="income-ten">Increase by 10
                                data crystals</button>
                        </form>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="income-hundred">Increase by 100
                                data crystals</button>
                        </form>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="income-thousand">Increase by 1000
                                data crystals</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 lg-padding with-borders ">
            <div class="container-fluid left-grid with-borders">
                <div class="row lg-padding">
                    <div class="col">
                        <h1 class="title-table-header">Knowledge Points</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="standard-table-text">
                            A stagnant empire is a broken one. Knowledge is power! Each turn, your scientists generate 0
                            knowledge points. Use them wisely!
                        </h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Knowledge Point production:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <h3 class="title-table-header">Scientists:</h3>
                    </div>
                    <div class="col">
                        <h3 class="standard-table-text">0</h3>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="knowledge-ten">Increase by 10
                                knowledge points</button>
                        </form>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="knowledge-hundred">Increase by 100
                                knowledge points</button>
                        </form>
                    </div>
                </div>
                <div class="row lg-padding">
                    <div class="col">
                        <form method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="submit" class="submit-btn-black" value="knowledge-thousand">Increase by 1000
                                knowledge points</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}